.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.claude/
*.hprof
*.iml
/.idea/caches
/.idea/modules
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/appInsightsSettings.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.apk
.kotlin
/.idea/jarRepositories.xml
